<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyWork</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>获取账户信息.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reset</display-name>
    <servlet-name>Reset</servlet-name>
    <servlet-class>获取账户信息.Reset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reset</servlet-name>
    <url-pattern>/Reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_news</display-name>
    <servlet-name>Insert_news</servlet-name>
    <servlet-class>获取账户信息.Insert_news</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_news</servlet-name>
    <url-pattern>/Insert_news</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Scores</display-name>
    <servlet-name>Scores</servlet-name>
    <servlet-class>获取账户信息.Scores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scores</servlet-name>
    <url-pattern>/Scores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailBox</display-name>
    <servlet-name>SendMailBox</servlet-name>
    <servlet-class>获取账户信息.SendMailBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailBox</servlet-name>
    <url-pattern>/SendMailBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckMailBox</display-name>
    <servlet-name>CheckMailBox</servlet-name>
    <servlet-class>获取账户信息.CheckMailBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMailBox</servlet-name>
    <url-pattern>/CheckMailBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Find_scores</display-name>
    <servlet-name>Find_scores</servlet-name>
    <servlet-class>获取账户信息.Find_scores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find_scores</servlet-name>
    <url-pattern>/Find_scores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Print</display-name>
    <servlet-name>Print</servlet-name>
    <servlet-class>获取账户信息.Print</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Print</servlet-name>
    <url-pattern>/Print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Excel_print</display-name>
    <servlet-name>Excel_print</servlet-name>
    <servlet-class>获取账户信息.Excel_print</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Excel_print</servlet-name>
    <url-pattern>/Excel_print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Excel_newsprint</display-name>
    <servlet-name>Excel_newsprint</servlet-name>
    <servlet-class>获取账户信息.Excel_newsprint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Excel_newsprint</servlet-name>
    <url-pattern>/Excel_newsprint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_pass</display-name>
    <servlet-name>Insert_pass</servlet-name>
    <servlet-class>获取账户信息.Insert_pass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_pass</servlet-name>
    <url-pattern>/Insert_pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pic</display-name>
    <servlet-name>Pic</servlet-name>
    <servlet-class>获取账户信息.Pic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pic</servlet-name>
    <url-pattern>/Pic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>获取账户信息.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reward</display-name>
    <servlet-name>Reward</servlet-name>
    <servlet-class>获取账户信息.Reward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reward</servlet-name>
    <url-pattern>/Reward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>获取账户信息.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Excel_rewardprint</display-name>
    <servlet-name>Excel_rewardprint</servlet-name>
    <servlet-class>获取账户信息.Excel_rewardprint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Excel_rewardprint</servlet-name>
    <url-pattern>/Excel_rewardprint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News_show</display-name>
    <servlet-name>News_show</servlet-name>
    <servlet-class>获取账户信息.News_show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News_show</servlet-name>
    <url-pattern>/News_show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNews</display-name>
    <servlet-name>DeleteNews</servlet-name>
    <servlet-class>获取账户信息.DeleteNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNews</servlet-name>
    <url-pattern>/DeleteNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Find_smallScores</display-name>
    <servlet-name>Find_smallScores</servlet-name>
    <servlet-class>获取账户信息.Find_smallScores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find_smallScores</servlet-name>
    <url-pattern>/Find_smallScores</url-pattern>
  </servlet-mapping>
  
  <!-- 
  <servlet>
    <servlet-name>servlet名称</servlet-name>
    <servlet-class>servlet相对于该文件的路径</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet名称</servlet-name>
    <url-pattern>/代号（用于在浏览器地址栏输入）</url-pattern>
  </servlet-mapping>
  浏览器访问时，首先找到Tomcat应用，然后根据输入的浏览器地址找到对应的工程
  查找文件中是否有该代号，找到该代号之后通过找到对应的servlet名称，
  通过mapping映射找到<servlet-class>同名servlet,创建该类的实例，
  并运行该类中的service方法
   -->
</web-app>